.container{
    position: relative;
}

.outer{
    z-index: 9;
    position: absolute;
    width: 98%;
}

.overlay {
    height: 2.3rem;
    margin: 30px;
    border: 0.001px solid grey;
    background:  whitesmoke;
    /* background:  red; */
    
}

.search_row_button{
    /* display: none; */
    opacity: 0%;
    right: 18px;
    position: absolute;
    height: 33px;
    border-radius: 11px;
    width: 11%;
    background: greenyellow;
    
}

.overlay:hover  .search_row_button{
    opacity: 100%;
    
}

.exchange_name{
    position: absolute;
    left: 30%;
}

.company_name{
    position: absolute;
    left: 37%;
}

.scrip_name{
    position: absolute;
    left: 67%;
}